.elementor-203 .elementor-element.elementor-element-c25bc49 > .elementor-container{max-width:1130px;}.elementor-203 .elementor-element.elementor-element-c25bc49:not(.elementor-motion-effects-element-type-background), .elementor-203 .elementor-element.elementor-element-c25bc49 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;}.elementor-203 .elementor-element.elementor-element-c25bc49, .elementor-203 .elementor-element.elementor-element-c25bc49 > .elementor-background-overlay{border-radius:0px 0px 0px 0px;}.elementor-203 .elementor-element.elementor-element-c25bc49{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;margin-top:0px;margin-bottom:0px;padding:15px 0px 15px 0px;z-index:999;}.elementor-203 .elementor-element.elementor-element-c25bc49 > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-203 .elementor-element.elementor-element-137146d{text-align:left;}.elementor-203 .elementor-element.elementor-element-77af5cd .elementor-menu-toggle{margin-left:auto;background-color:rgba(2, 1, 1, 0);font-size:26px;}.elementor-203 .elementor-element.elementor-element-77af5cd .elementor-nav-menu .elementor-item{font-family:"Gotham", Sans-serif;font-size:16px;font-weight:600;}.elementor-203 .elementor-element.elementor-element-77af5cd .elementor-nav-menu--dropdown a:hover,
					.elementor-203 .elementor-element.elementor-element-77af5cd .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-203 .elementor-element.elementor-element-77af5cd .elementor-nav-menu--dropdown a.highlighted{background-color:#0C939A;}.elementor-203 .elementor-element.elementor-element-77af5cd .elementor-nav-menu--dropdown a.elementor-item-active{background-color:#0C939A;}.elementor-203 .elementor-element.elementor-element-77af5cd .elementor-nav-menu--dropdown .elementor-item, .elementor-203 .elementor-element.elementor-element-77af5cd .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Muli", Sans-serif;font-size:16px;font-weight:400;}.elementor-203 .elementor-element.elementor-element-77af5cd div.elementor-menu-toggle{color:#0C939A;}.elementor-203 .elementor-element.elementor-element-77af5cd > .elementor-widget-container{padding:15px 0px 0px 0px;}@media(max-width:767px){.elementor-203 .elementor-element.elementor-element-c25bc49, .elementor-203 .elementor-element.elementor-element-c25bc49 > .elementor-background-overlay{border-radius:0px 0px 1px 0px;}.elementor-203 .elementor-element.elementor-element-5bafa20{width:50%;}.elementor-203 .elementor-element.elementor-element-20732d7{width:50%;}.elementor-203 .elementor-element.elementor-element-77af5cd .elementor-nav-menu--dropdown a{padding-top:7px;padding-bottom:7px;}.elementor-203 .elementor-element.elementor-element-77af5cd .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-203 .elementor-element.elementor-element-77af5cd .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:17px !important;}.elementor-203 .elementor-element.elementor-element-77af5cd > .elementor-widget-container{padding:0px 25px 0px 0px;}}/* Start custom CSS for section, class: .elementor-element-c25bc49 */.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: bold;
	font-display: auto;
	src: url('http://creativedd.com.br/test/axis/wp-content/uploads/2020/05/Gotham-Bold.woff2') format('woff2'),
		url('http://creativedd.com.br/test/axis/wp-content/uploads/2020/05/Gotham-Bold.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: italic;
	font-weight: bold;
	font-display: auto;
	src: url('http://creativedd.com.br/test/axis/wp-content/uploads/2020/05/Gotham-BoldItalic.woff2') format('woff2'),
		url('http://creativedd.com.br/test/axis/wp-content/uploads/2020/05/Gotham-BoldItalic.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url('http://creativedd.com.br/test/axis/wp-content/uploads/2020/05/Gotham-Light.woff2') format('woff2'),
		url('http://creativedd.com.br/test/axis/wp-content/uploads/2020/05/Gotham-Light.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url('http://creativedd.com.br/test/axis/wp-content/uploads/2020/05/Gotham-Medium.woff2') format('woff2'),
		url('http://creativedd.com.br/test/axis/wp-content/uploads/2020/05/Gotham-Medium.woff') format('woff');
}
@font-face {
	font-family: 'Gotham';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: ;
}
/* End Custom Fonts CSS */