.elementor-99 .elementor-element.elementor-element-7e2c51d:not(.elementor-motion-effects-element-type-background), .elementor-99 .elementor-element.elementor-element-7e2c51d > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#382A62;background-image:url("http://creativedd.com.br/test/axis/wp-content/uploads/2020/05/bubbles.png");background-position:center center;background-repeat:no-repeat;background-size:cover;}.elementor-99 .elementor-element.elementor-element-7e2c51d, .elementor-99 .elementor-element.elementor-element-7e2c51d > .elementor-background-overlay{border-radius:0px 0px 50px 50px;}.elementor-99 .elementor-element.elementor-element-7e2c51d{transition:background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;padding:85px 0px 85px 0px;}.elementor-99 .elementor-element.elementor-element-7e2c51d > .elementor-background-overlay{transition:background 0.3s, border-radius 0.3s, opacity 0.3s;}.elementor-99 .elementor-element.elementor-element-3b8510c .elementor-heading-title{color:#FFFFFF;font-family:"Gotham Ultra", Sans-serif;font-size:46px;font-weight:300;line-height:1.1em;letter-spacing:1.2px;}.elementor-99 .elementor-element.elementor-element-8388ace{color:#FFFFFF;font-family:"Muli", Sans-serif;font-size:16px;font-weight:400;}.elementor-99 .elementor-element.elementor-element-d6ace72 .elementor-text-editor{text-align:center;}.elementor-99 .elementor-element.elementor-element-d6ace72{color:#FFFFFF;font-family:"Muli", Sans-serif;font-size:16px;font-weight:600;}.elementor-99 .elementor-element.elementor-element-d6ace72 > .elementor-widget-container{padding:15px 0px 0px 0px;}@media(max-width:767px){.elementor-99 .elementor-element.elementor-element-7e2c51d{padding:35px 20px 35px 20px;}.elementor-99 .elementor-element.elementor-element-3b8510c .elementor-heading-title{font-size:30px;}.elementor-99 .elementor-element.elementor-element-d6ace72 .elementor-text-editor{text-align:center;}}/* Start custom CSS for text-editor, class: .elementor-element-d6ace72 */.text-services .royal-blue {
    color: #0c939a;
    font-weight: bold;
}

.text-services .button-more {
    color: #035ec5;
    font-weight: bold;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-7a42f96 */.forms input, .forms select {
    border: 2px solid #ffffff;
    background: #ffffff;
    border-radius: 20px !important;
    font-family: "Muli", Sans-serif;
    color: #747988;
}

.nf-input-limit, .nf-form-fields-required, .ninja-forms-req-symbol, .nf-form-content label {
    display: none;
}

.field-wrap input[type=button] {
    padding: 15px 20px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: "Gotham";
    color: #f7f7f7;
    transition: all .5s;
}

.nf-form-content .list-select-wrap .nf-field-element>div {
    background-color: #ffffff !important;
    border: 0 !important;
    border-radius: 20px !important;
}

.forms .nf-form-content textarea {
    background: #ffffff;
    border: 0;
    border-radius: 20px;
    box-shadow: none;
    color: #787878;
    transition: all .5s;
}

.forms input.button-contact {
   padding: 13px 60px 37px !important;
    background-color: #0c9198 !important;
    text-transform: uppercase;
    transition: all .5s;
}

.forms input.button-contact:hover {
    background-image: linear-gradient(to right, #2727d5 0%, #5d85d2 51%, #88d0cf 100%) !important;
    color: #ffffff !important;
}/* End custom CSS */